    /*############# RESPONSIVE ############*/

        /* MEDIA QUERY S */
@media all and (min-width: 576px) {
            
            /* CUSTOM PROMPT */
    
    :root {
        /* Layout */
    --navbar-width: 180px;
    --grid-padding: 10px;
    --row-margin: -10px;
    }

            /* UTILS */

    .d-block-mq {
        display: block;
    }
            
    .d-none-mq {
        display: none;
    }

    .d-flex-mq {
        display: flex;
    }
            
    
            /* MAIN */
    
            /* Navbar */
    
    #nav {
        align-items: flex-start;
    }
    
    #nav #logo-small {
        display: none;
    }
    
    #nav .container {
        padding: var(--navbar-padding);
        text-align: start;
    }
    
    #nav li > img {
        height: 20px;
    }
    
    #nav #user-id li:first-child {
        border-bottom: 1px solid var(--navbar-text-color);
        padding-bottom: 3px;
        margin-bottom: 5px;
    }
    
    #nav #user-id a {
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }
    
    #nav #user-id #download {
        width: 10%;
    }
    
    #nav #user-id .layer {
        height: 30px;
        width: 30px;        
    }

            /* TOP CONTENT */
    #page-cnt .top a {
        font-size: .9rem;
    }

            /* FOOTER */

    #footer h6 {
        display: inline;
    }
        
    #footer .icon {
        flex-direction: row;
    }
             
    #footer .music-ctr {
        min-width: 200px;
    }

    #footer .music-ctr i {
        font-size: 1rem;
        margin: 0 10px;
    }

    #footer .volume {
        min-width: 150px;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }
}
    
    
            /* MEDIA QUERY MD */

@media all and (min-width: 768px) {
    
    /* CUSTOM PROMPT */

    :root {
        /* Layout */
        --grid-padding: 8px;
        --row-margin: -8px;
    }


    /* Grid content */

    #page-cnt .col {
        width: 25%;
    }


    /* FOOTER */
 
    #footer .music-ctr {
        min-width: 320px;
    }

    #footer .music-ctr i {
        margin: 0 15px;
    }
}
    
            /* MEDIA QUERY MD */
@media all and (min-width: 992px) {
    
    /* Grid content */

    #page-cnt .col {
        width: calc(100% / 6);
    }

           /* FOOTER */
    #footer .music-ctr {
        min-width: 450px;
    }

    #footer .volume {
        min-width: 200px;
    }

}
    