 /* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CUSTOM PROMT */

:root {

    /* Palette */
    --navbar-bg-color: #000000;
    --main-bg-color: #141922;
    --playbar-bg-color: #282828;

    --primary-text-color: #ffffff;
    --secondary-text-color: #696b71;
    --navbar-text-color: #a3a3a3;

    /* Layout */
    --navbar-width: 50px;
    --navbar-padding: 10px;
    --bar-height: 100px;
    --grid-padding: 8px;
    --row-margin: -8px;
}

/* GRID */

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding-left: var(--grid-padding);
    padding-right: var(--grid-padding);
}

.row {
    margin: var(--row-margin);
    display: flex;
    flex-wrap: wrap;
}

[class*='col'] {
    padding: var(--grid-padding);
}

 /* UTILS */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--main-bg-color);
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    color: inherit;
    text-decoration: none;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

        /* MAIN */

main {
    height: calc(100vh - var(--bar-height));
    color: var(--primary-text-color);
}

        /* Navbar */

#nav {
    width: var(--navbar-width);
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    background-color: var(--navbar-bg-color);
    color: var(--navbar-text-color);
    font-size: .8rem;
}

#nav #logo-small {
    width: 25px;
}

#nav #logo-big {
    width: 80%;
    margin: 7px;
}


#nav .container {
    padding: 0;
    padding-top: 5px;
}

#nav li {
    align-items: center;
    padding: 5px 0;
}

#nav li > img {
    height: 18px;
    margin: 3px 0;
}

#nav li > span {
    padding-left: 10px;
}

#nav .plus {
    display: inline-block;
    width: 40px;
    height: 38px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
    font-size: 30px;
    background-color: var(--navbar-text-color);
    color: var(--navbar-bg-color);
    padding-left: 11px;
}

#nav a {
    font-size: .7rem;
    padding: 5px 0;
}

#nav #user-id {
    margin-top: auto;
}

#nav #user-id .layer {
    overflow: hidden;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--navbar-text-color);
}

#nav #user-id a {
    justify-content: center;
}

#nav #user-id #download {
    width: 60%;
}

        /* PAGE CONTENT */

#page-cnt {
    width: calc(100% - var(--navbar-width));
    overflow: auto;
}

        /* Top section */
#page-cnt .top {
    height: var(--bar-height);
    background-color: rgba(0, 0, 0, .3);
    color: var(--primary-text-color);
    padding: 10px;
    align-items: center;
    justify-content: flex-end;
}

#page-cnt .top a {
    border: 1px solid var(--primary-text-color);
    border-radius: 20px;
    padding: 13px 35px;
    font-size: .6rem;
    font-weight: bold;
}

        /* Main section */

#page-cnt .main {
    padding: 15px;
}

#page-cnt .main nav {
    color: var(--secondary-text-color);
    padding-bottom: 25px;
    font-size: .7rem;
}

#page-cnt .main ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

        /* Grid content */

#page-cnt section {
    margin-bottom: 2rem;
}

#page-cnt h1 {
    padding: 10px 0;
}

#page-cnt .container {
    margin-top: 40px;
    padding: 0;
}

#page-cnt .col {
    width: 50%;
}

#page-cnt .card {
    text-align: center;
}

#page-cnt h4 {
    font-size: .8rem;
    padding-bottom: 4px;
    padding-top: 10px;
}

#page-cnt span {
    color: var(--secondary-text-color);
    font-size: .8rem;
}

        /* FOOTER */

#footer {
    height: var(--bar-height);
    padding: var(--navbar-padding);
    background-color: var(--playbar-bg-color);
    justify-content: space-between;
    align-items: center;
    color: var(--primary-text-color);
}

#footer img {
    width: 33px;
    height: 33px;
    margin-right: 10px;
}

#footer h5 {
    font-size: .7rem;
}

#footer h6 {
    font-size: .5rem;
    color: var(--secondary-text-color);
}