 /* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CUSTOM PROMT */

:root {

    /* Palette */
    --navbar-bg-color: #000000;
    --main-bg-color: #141922;
    --playbar-bg-color: #282828;

    --primary-text-color: #ffffff;
    --secondary-text-color: #696b71;
    --navbar-text-color: #a3a3a3;

    --lime-effect: #adff2f;

    /* Layout */
    --navbar-width: 50px;
    --navbar-padding: 10px;
    --bar-height: 100px;
    --grid-padding: 8px;
    --row-margin: -8px;
}

/* GRID */

.container {
    /* max-width: 1080px; */
    margin: 0 auto;
    padding-left: var(--grid-padding);
    padding-right: var(--grid-padding);
}

.row {
    margin: var(--row-margin);
    display: flex;
    flex-wrap: wrap;
}

[class*='col'] {
    padding: var(--grid-padding);
}

 /* UTILS */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--main-bg-color);
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    color: inherit;
    text-decoration: none;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

        /* MAIN */

main {
    height: calc(100vh - var(--bar-height));
    color: var(--primary-text-color);
}

        /* Navbar */

#nav {
    width: var(--navbar-width);
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    background-color: var(--navbar-bg-color);
    color: var(--navbar-text-color);
    font-size: .8rem;
    overflow: auto;
}

#nav #logo-small {
    width: 25px;
}

#nav #logo-big {
    width: 80%;
    margin: 7px;
}

#nav section {
    padding-top: 10px;
}

#nav #playlist {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
}

#nav #playlist h3 {
    padding: 0 10px;
    color: var(--primary-text-color);
}

#nav #home li,
#nav #playlist,
#nav #user-id {
    border-left: 2px solid transparent;
}

#nav #home li:first-child {
    border-left: 2px solid var(--lime-effect);
}

#nav #home li,
#nav #playlist a:first-of-type {
    padding: 0 10px;
}

#nav #playlist ul {
    flex-direction: column;
}

#nav li {
    align-items: center;
    padding: 5px 0;
}

#nav li > img {
    height: 18px;
    margin: 3px 0;
}

#nav li > span {
    padding-left: 10px;
}

#nav .plus {
    display: inline-block;
    width: 40px;
    height: 38px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
    font-size: 30px;
    background-color: var(--navbar-text-color);
    color: var(--navbar-bg-color);
    padding-left: 11px;
}

#nav a {
    font-size: .7rem;
}

#nav #user-id {
    margin-top: auto;
    padding: 0 10px;
}

#nav #user-id .layer {
    overflow: hidden;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--navbar-text-color);
}

#nav #user-id a {
    justify-content: center;
    width: 100%;
}

#nav #user-id #download {
    width: 30%;
}

        /* Navbar hover effect */

#nav li:hover,
#nav #playlist a:hover {
    color: var(--primary-text-color);
}




        /* PAGE CONTENT */

#page-cnt {
    width: calc(100% - var(--navbar-width));
    overflow: auto;
}

        /* Top section */
#page-cnt .top {
    height: var(--bar-height);
    background-color: rgba(0, 0, 0, .6);
    color: var(--primary-text-color);
    padding: 10px;
    align-items: center;
    justify-content: flex-end;

    position: fixed;
    width: calc(100% - var(--navbar-width));
    z-index: 1;
}

#page-cnt .top a {
    border: 1px solid var(--primary-text-color);
    border-radius: 20px;
    padding: 13px 35px;
    font-size: .6rem;
    font-weight: bold;
}

#page-cnt .top a:hover {
    font-size: 1rem;
}

        /* Top section hover */

        /* MAIN SECTION */

#page-cnt .main {
    padding: 15px;
    padding-top: var(--bar-height);
}

#page-cnt .main nav {
    color: var(--secondary-text-color);
    padding-bottom: 25px;
    font-size: .7rem;
}

#page-cnt .main ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

#page-cnt .main li:first-child {
    position: relative;
    padding-bottom: 7px;
}

#page-cnt .main li:first-child::after {
    content: '';

    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);

    height: 2px;
    width: 50px;
    background-color: var(--lime-effect);
}

        /* Grid content */

#page-cnt section {
    margin-top: 2rem;
}

#page-cnt section:first-child,
#page-cnt .main section:first-of-type {
    margin-top: 0;
}

#page-cnt h1 {
    padding: 10px 0;
}

#page-cnt .container {
    margin-top: 40px;
    padding: 0;
}

#page-cnt .col {
    width: 50%;
}

#page-cnt .card {
    text-align: center;
}

#page-cnt h4 {
    font-size: .8rem;
    padding-bottom: 4px;
    padding-top: 10px;
}

#page-cnt span {
    color: var(--secondary-text-color);
    font-size: .8rem;
}

#page-cnt #artisti-popolari img {
    border-radius: 50%;
}
        /* Main section hover effect */

#page-cnt .main li:hover {
    color: var(--primary-text-color);
}

#page-cnt .main .img {
    position: relative;
}

#page-cnt .main .hover-img {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
}

#page-cnt .main img:hover {
    opacity: .6;
}

#page-cnt .main .img:hover .hover-img {
    display: block;
}


        /* FOOTER */

#footer {
    height: var(--bar-height);
    padding: var(--navbar-padding);
    background-color: var(--playbar-bg-color);
    justify-content: space-between;
    align-items: center;
    color: var(--primary-text-color);
    
    position: sticky;
    z-index: 1;
}

#footer img {
    width: 33px;
    height: 33px;
    margin-right: 10px;
}

#footer h5 {
    font-size: .7rem;
}

#footer h6 {
    font-size: .5rem;
    color: var(--secondary-text-color);
}

#footer .icon {
    margin-left: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--secondary-text-color);
}

#footer .song-info i,
#footer .volume i {
    font-size: .7rem;
    margin: 0 5px;
}

#footer .buttons {
    text-align: center;
}

#footer .buttons button {
    border: none;
    background: none;
    color: var(--primary-text-color);
}

#footer .music-ctr {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
}

#footer #play i {
    font-size: 1.9rem;
}

#footer .music-ctr span {
    font-size: .6rem;
    color: var(--primary-text-color);
}

#footer .music-ctr .time-line,
#footer .volume {
    align-items: center;
    gap: 5px;
}

#footer .music-ctr .time-line {
    width: 80%;
    justify-content: center;
}

#footer .line30 {
    width: 30%;
    height: 4px;
    background-color: var(--primary-text-color);
    position: relative;
}

#footer .progress-line {
    width: 70%;
    height: 4px;
    background-color: var(--secondary-text-color);
}

#footer .volume {
    min-width: 90px;
    flex-wrap: wrap;
    justify-content: center;
}

#footer .volume .progress-line {
    min-width: 50%;
}


        /* Footer hover effect */

#footer .song-info a:hover {
    text-decoration: underline;
}
        
#footer .song-info a:hover h6,
#footer .song-info i:hover {
    color: var(--primary-text-color);
}

#footer #play:hover i {
    font-size: 2rem;
}


#footer .progress-line:hover > .line30::after {
    content: '';

    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);

    height: 15px;
    width: 15px;
    background-color: var(--primary-text-color);
    border-radius: 50%;
}

#footer .progress-line:hover > .line30 {
    background-color: var(--lime-effect);
}